html,
body,

.toplayer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 30;
}

#popup {
  height: 20%;
  width: 100%;
  background-color: white;
  position:absolute;
  bottom:0;
  z-index: 31;
}


.error {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 31;
  background-color: white;
}


#viewDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.esri-attribution {
  width: 0%;
  height:0%;
}

.esri-widget-button {
  width: 0%;
  height:0%;
}

.esri-widget-esri-interactive {
  width: 0%;
  height:0%;
}

.esri-popup {
    z-index:40;
}

.esri-popup__main-container {
    max-height: 200%;

}
